
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Squada+One&display=swap');
@font-face {
    font-family: 'origin_tech_demoregular';
    src: url('./fonts/origintech_personal_use-webfont.woff2') format('woff2'),
         url('./fonts/origintech_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'night_machineregular';
    src: url('./fonts/night_machine-webfont.woff2') format('woff2'),
         url('./fonts/night_machine-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'space_ageregular';
    src: url('./fonts/space_age-webfont.woff2') format('woff2'),
         url('./fonts/space_age-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(105deg, #6EE0CD, #246a86dc);
}

.main-title {
font-family: origin_tech_demoregular;
font-size: 50px;
text-shadow: 2px 2px 8px whitesmoke;
}

.cars-container, .houses-container, .clothes-container {
background: rgba(227, 222, 222, 0.591);
box-shadow: 0 8px 32px 0 rgba(14, 26, 57, 0.37);
backdrop-filter: blur( 5.5px );
-webkit-backdrop-filter: blur( 5.0px );
border-radius: 20px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
margin: 10px;
text-align: center;
}

.our-future-container {
  border: 5px, solid black;
  background: blue;
}

h1 {
  font-size: 30px;
  font-family:'Montserrat', sans-serif;
}

img {
  max-height: 150px;
  max-width: 300px;
  margin: 3px;
  border-radius: 15px;
}